$backgroundColor: rgba(0.4, 14.1, 46.3, 0.7);
$navBackgroundColor: rgba(0.4, 14.1, 46.3, 0.9);
$fontColor: rgb(255, 255, 255);
$secondFontColor: rgb(255, 0, 0);
$secondFontColorDark: rgba(255, 9, 9, 0.9);
$footerIcon: rgb(66, 103, 178);
$boxShadow: rgba(0, 0, 0, 0.5);
