@import 'src/scss/settings/colors';

@mixin desktop() {
  @media (max-width: 1499px) {
    @content;
  }
}
@mixin tabletMax() {
  @media (max-width: 1099px) {
    @content;
  }
}
@mixin tabletMin() {
  @media (max-width: 810px) {
    @content;
  }
}
@mixin mobile() {
  @media (max-width: 549px) {
    @content;
  }
}
@mixin title {
  margin: 4rem 0 0 4rem;
  align-self: start;
  color: $secondFontColor;
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;

  @include tabletMin {
    margin: 0;
    padding: 2rem 0 0 2rem;
    font-weight: 400;
    font-size: 2rem;
  }
}
@mixin briefAnimationOpen($minHeight, $maxHeight) {
  animation: openRodo 0.5s forwards;
  @keyframes openRodo {
    0% {
      height: $minHeight;
    }
    100% {
      height: $maxHeight;
    }
  }
}
@mixin briefAnimationClose($minHeight, $maxHeight) {
  animation: closeRodo 0.5s forwards;
  @keyframes closeRodo {
    0% {
      height: $maxHeight;
    }
    100% {
      height: $minHeight;
    }
  }
}
