@import 'src/scss/settings/colors';

@mixin desktop() {
  @media (max-width: 1499px) {
    @content;
  }
}
@mixin tabletMax() {
  @media (max-width: 1099px) {
    @content;
  }
}
@mixin tabletMin() {
  @media (max-width: 810px) {
    @content;
  }
}
@mixin mobile() {
  @media (max-width: 549px) {
    @content;
  }
}

@mixin title {
  color: $secondFontColor;
  font-weight: 600;
  font-size: 3rem;
  align-self: start;
  margin: 4rem 0 0 4rem;
  text-transform: uppercase;

  @include tabletMin {
    font-weight: 400;
    font-size: 2rem;
    margin: 2rem 0 0 2rem;
  }
}
