@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.ourMissionContainer {
  width: 100%;
  height: 120rem;
  background-color: $backgroundColor;
  display: flex;
  .mainContent {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: url('../../../assets/bg9.jpg');
    background-position: center;
    background-size: cover;
    .listHolder {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 2.5rem;
      flex-direction: column;
      color: $fontColor;
      .titleHolder {
        width: 150%;
        @include title;
      }
      ul {
        width: 100%;
        height: 100%;
        margin: 30% 0 0 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        li {
          height: 10rem;
          margin-top: 1rem;
          list-style: none;
          p {
            display: block;
            cursor: pointer;
            &:hover {
              color: $secondFontColor;
            }
          }
        }
      }
    }
  }
  .divider {
    width: 50%;
    height: 100%;
    visibility: visible;
    background-position: center;
  }

  .notHovering {
    visibility: hidden;
  }
}

@include desktop {
  .ourMissionContainer {
    .mainContent {
      width: 50%;
    }
  }
}

@include tabletMax {
  .ourMissionContainer {
    height: 100rem;
    .mainContent {
      width: 100%;
      .listHolder {
        width: 100%;
        .titleHolder {
          width: 100%;
          @include title;
        }
        ul {
          margin: 0 auto;
          padding-top: 5rem;
          li {
            p {
              width: 90%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .divider {
    display: none;
  }
}

@include tabletMin {
  .ourMissionContainer {
    height: 110rem;
    .mainContent {
      .listHolder {
        .titleHolder {
          margin-bottom: 4rem;
        }
        ul {
          margin: 4rem auto;
        }
      }
    }
  }
}
