@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.briefContainer {
  width: 100%;
  height: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../../assets/bgContact.jpg');
  background-position: center;
  background-size: cover;
  @include briefAnimationClose(90rem, 105rem);
  .title {
    @include title;
  }
  .textContainer {
    width: 80%;
    height: 35rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    p {
      margin-top: 3rem;
    }
    .secondClass {
      padding-top: 5rem;
    }
  }
}
.activeBrief {
  height: 105rem;
  @include briefAnimationOpen(90rem, 105rem);
}
@include desktop {
  .briefContainer {
    @include briefAnimationClose(90rem, 115rem);
  }
  .activeBrief {
    height: 115rem;
    @include briefAnimationOpen(90rem, 115rem);
  }
}
@include tabletMax {
  .briefContainer {
    height: 95rem;
    @include briefAnimationClose(95rem, 125rem);
  }
  .activeBrief {
    height: 125rem;
    @include briefAnimationOpen(95rem, 125rem);
  }
}
@include tabletMin {
  .briefContainer {
    height: 95rem;
    @include briefAnimationClose(95rem, 142rem);
    .textContainer {
      width: 90%;
      p {
        margin-top: 3rem;
        font-size: 2rem;
      }
      .secondClass {
        padding-top: 5rem;
        font-size: 2rem;
      }
    }
  }
  .activeBrief {
    height: 142rem;
    @include briefAnimationOpen(95rem, 142rem);
  }
}
@include mobile {
  .briefContainer {
    height: 100rem;
    @include briefAnimationClose(100rem, 190rem);
    .textContainer {
      width: 90%;
      height: 40rem;
      font-size: 2rem;
      p {
        margin-top: 2rem;
      }
      .secondClass {
        padding-top: 4rem;
      }
    }
  }
  .activeBrief {
    height: 190rem;
    @include briefAnimationOpen(100rem, 190rem);
  }
}
