@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.navigationContainer {
  width: 100%;
  height: 10rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  .menuIcon {
    display: none;
  }
}

@include tabletMin {
  .navigationContainer {
    padding-top: 0;
    .menuIcon {
      height: 4rem;
      width: 4rem;
      margin-right: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $secondFontColor;
      background-color: transparent;
      i {
        font-size: 3rem;
      }
    }
  }
}
