@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.scrollTop {
  height: 2rem;
  width: 5%;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.6;
  z-index: 1000;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  font-size: 7rem;
  cursor: pointer;
  img {
    height: 4rem;
  }
}
.scrollTop:hover {
  opacity: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@include mobile {
  .scrollTop {
    bottom: 2rem;
    right: 0;
    font-size: 5rem;
  }
}
